# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/source/SimplePT/image.ppm
*.ppm
*.PPM

# windows compiled files
*.exe
*.pdb
*.obj
*.tlog
*.manifest
*.cache
/source/Debug
/source/Release
/source/ipch
